:root {
    /* Variables */
    --primary-color: #142727;
    --secondary-color: #00ffff;
    --tertiary-color: #201e5ee9;
}

body {
    background-color: #fff;
    margin-right: 5px;
}

/* Header Section */

.custom-nav{
    background-color: var(--primary-color) !important;
    padding-left: 0 !important;
}

.main-logo{
    /* main-logo: Portfolio owner name */
    font-size: 3rem;
    font-weight: 600;
    padding: 0 5px 0 20px;
    color: var(--primary-color) !important;
    background-color: var(--secondary-color);
}

.custom-navbar-nav{
    /* Nav list */
    margin-left: auto;
    margin-right: 0 !important;
}

.custom-navbar-nav a{
    /* Nav links */
    color: var(--secondary-color) !important;
}

.custom-nav-link:hover {
    color: var(--primary-color) !important;
    background-color: var(--secondary-color);
}

.custom-dropdown-menu{
    /* Contact Me options */
    background-color: var(--primary-color) !important;
}

.btn-outline-tertiary {
    /* Resume button */
    border-color: var(--secondary-color);
}

/* Hero Section*/
.custom-jumbotron{
    background-image: 
    linear-gradient(var(--tertiary-color), var(--primary-color)),
    url(../Images/02-hero-bg.jpg) !important;
    background-size: cover;
    height: 500px;
    
} 

.custom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 100%;
    text-align: center;
}

.profile-picture{
    /* recent picture of portfolio owner */
    height: 70%;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 3px solid var(--tertiary-color);
}

.hero-text{
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    opacity: 0.5;
    font-size: 2.5rem;
}

/* Main Section */
main{
    color: var(--tertiary-color);
}

.custom-row{
    justify-content: center;
    margin: 40px;
}

.side-accent{
    /* Side Accent */
    background: var(--tertiary-color);
    width: 5px;
}

.page-section h2{
    /* Section Heading */
    text-align: right;
}

/* About Me */
.about p{
    /* About section text */
    padding: 5px 0px;
}

/* Work */
.custom-card{
    color: var(--tertiary-color);
    border: 5px solid var(--secondary-color);
    margin-top: 5px;
    margin-bottom: 5px;
}

.custom-card-img-overlay{
    background-color: var(--secondary-color);
    height: max-content;
    width: max-content;
    padding: 5px;
}

.custom-card-text{
    font-size: 10px;
}

/* Skills */
.custom-badge-primary {
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

.skill{
    font-size: 20px;
    background: linear-gradient(var(--secondary-color), #9198e5);
    border: 1px solid var(--tertiary-color);
}

/* Footer */
footer{
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    background-color: var(--primary-color);
}

.custom-btn-primary{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    margin: 10px;
}

.custom-btn-primary:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    box-shadow: 6px 3px 9px var(--secondary-color);
}

/* Media Query */
@media only screen and (max-width: 50em) {
    
    #about,
    #work,
    #skills {
    border-bottom: 3px solid var(--tertiary-color);
    }
}
